<h1>{{"page_header" | translate }}</h1>

<!-- <button (click)="updateLangauge()">update</button> -->

<!-- <div>
    <button pButton type="button" icon="pi pi-flag-icon pi-flag-ge" (click)="setLanguage('ka')"></button>
    <button pButton type="button" icon="pi pi-flag-icon pi-flag-uk" (click)="setLanguage('en')"></button>
  </div>
   
<div class="card flex justify-content-center">
    <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>
</div> -->
<p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value" (onChange)="setLanguage($event)"></p-selectButton>
<div class="cv-container">
    <div class="cv-header">
        <input class="name-input" [(ngModel)]="name" type="text" [placeholder]="'name' | translate" pInputText />
        <input *ngIf="showProfession" class="profession-input" type="text" [placeholder]="'profession' | translate"
            pInputText />

        <app-contact-dialog [(showDialog)]="showDialoge" [(showEmail)]="showEmail" [(showPhone)]="showPhone"
            [(showBirthdate)]="showBirthdate" [(showProfession)]="showProfession" [(showLocation)]="showLocation">
        </app-contact-dialog>

        <div class="contacts-container">
            <span class="p-input-icon-left" *ngIf="showPhone">
                <i class="pi pi-phone contact-icon"></i>
                <input class="contact-input" type="text" [placeholder]="'mobile' | translate" pInputText />
            </span>
            <span class="p-input-icon-left" *ngIf="showLocation">
                <i class="pi pi-map-marker contact-icon"></i>
                <input class="contact-input" type="text" [placeholder]="'location' | translate" pInputText />
            </span>
            <span class="p-input-icon-left" *ngIf="showEmail">
                <i class="pi pi-envelope contact-icon"></i>
                <input class="contact-input" type="text" [placeholder]="'email' | translate" pInputText />
            </span>
            <span class="p-input-icon-left" *ngIf="showBirthdate">
                <i class="pi pi-calendar contact-icon"></i>
                <input class="contact-input" type="text" [placeholder]="'birthday_date' | translate" pInputText />
            </span>
        </div>

    </div>

    <i (click)="onShowDialoge()" class="pi pi-cog settings"></i>

    <hr>


    <div class="cv-content">
        <div class="left-content" [style]="{'width':'400px'}">
            <div class="section-title">{{'resume' | translate}}</div>
            <p-editor [placeholder]="'experience_description' | translate ">>
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                    </span>
                </ng-template>
            </p-editor>
            <hr>
            <div (click)="onShowExperience()" class="section-title">გამოცდილება
                <!-- <ng-container *ngIf="showExperience; else minus">+</ng-container>
                <ng-template #minus>-</ng-template> -->
                <svg [ngClass]="{ rotate: showExperience, initial: !showExperience }" width="8" height="8"
                    viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7M1 1L7 7" stroke="#185ADB" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>

            <!-- EXPERIENCE -->
            <div class="experience-header" *ngIf="showExperience">
                <div class="experience-details">
                    <input class="custom-input" type="text" placeholder="სათაური" />
                    <input class="custom-input" type="text" placeholder="კომპანიის სახელი" />
                    <input class="custom-input" type="text" placeholder="პერიოდი" />
                    <input class="custom-input" type="text" placeholder="მდებარეობა" />
                </div>
                <p-editor placeholder="აღწერა">
                    <ng-template pTemplate="header">
                        <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                        </span>
                    </ng-template>
                </p-editor>
                <hr>
            </div>


            <!-- EDUCATION -->

            <div (click)="onShowEducation()" class="section-title">განათლება
                <svg [ngClass]="{ rotate: showExperience, initial: !showExperience }" width="8" height="8"
                    viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7M1 1L7 7" stroke="#185ADB" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>

            <div class="experience-header" *ngIf="showEducation">
                <input class="custom-input" type="text" placeholder="უნივერსიტეტი" />
                <input class="custom-input" type="text" placeholder="ხარისხი" />
                <hr>
            </div>
        </div>
        <div class="right-content">
            <div class="section-title">პროფესიონალური უნარები</div>
            <input class="custom-input" type="text" placeholder="შეყვანეთ თქვენი უნარი" />
            <input class="custom-input" type="text" placeholder="შეყვანეთ თქვენი უნარი" />
            <input class="custom-input" type="text" placeholder="შეყვანეთ თქვენი უნარი" />
            <hr>
            <div class="section-title">ენები</div>
            <div class="d-flex">
                <input class="custom-input" type="text" placeholder="ენა / დონე" />
                <p-rating [cancel]="false"></p-rating>
            </div>
            <div class="d-flex">
                <input class="custom-input" type="text" placeholder="ენა / დონე" />
                <p-rating [cancel]="false"></p-rating>
            </div>
            <div class="d-flex">
                <input class="custom-input" type="text" placeholder="ენა / დონე" />
                <p-rating [cancel]="false"></p-rating>
            </div>
            <hr>
        </div>
    </div>

</div>
<button (click)="downloadAsPDF()">Download as PDF</button>